body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

header {
    margin: 0px;
    width: 100%;
}

.logo {
    margin: 1.5% 47.5% 0% 3%;
    float: left;
    
}

.topbar {
    width: 100%;
    height: auto;
    background-color: #6c83ac;
    float: left;
}

#tlfsymb {
    margin-right: 5%;
    float: left;
    clear: right;
    height: 180px;
    width: 100px;
}

#chatsymb {
    margin-top: 1%;
    margin-right: 0%;
    float: left;
    clear: right;
    height: 150px;
    width: 150px;
}

#profsymb {
    margin-top: 1%;
    margin-right: 10%;
    float: left;
    clear: right;
    height: 150px;
    width: 100px;
}

a {
    color: #fff;
}

nav {
    text-align: center;
    width: 70%;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30%;
    display: block;
    float: left;
    background-color: #ac1925;
    color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-decoration: none;
}

aside {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    background-color: #6c83ac;
    width: 30%;
    float: left;
    margin-top: -4.3%;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.asidepic {
    border: 3px solid #000;
}

#liste {
    text-align: justify;
    margin-left: 10%;
    color: #fff;
}

section {
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 1.75%;
    width: 60%;
}

.helphand {
    border: 3px solid #000;
    margin-top: 1.5%;
}

.handshake {
    width: 630px;
    height: 330px;
    border: 3px solid #000;
}

.part2 {
    width: 40%;
    float: left;
    clear: right;
    margin-left: -50%;
    margin-top: -70.9%;
}

footer {
    background-color: #6c83ac;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    float: left;
    clear: right;
    width: 100%;
    text-align: center;
}

.footlink {
    margin-top: 1%;
}

.copyright {
    text-align: center;
    margin-top: -2%;
    margin-bottom: 1%;
    color: #fff;
}

.logofooter {
    float: right;
    clear: left;
    margin-right: 2%;
    margin-bottom: 1%;
    margin-top: -9%;
    width: 120px;
    height: 100px;
}